# Prerequisites
*.d

# Orig files
*.orig

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse files
*.settings
*.cproject
*.project
*.settings

# Qt files
**.user
**.pro.user
**/build*/

# Visual studio code
# **/.vscode/**
